<h1>Lista de Publicaciones</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
      <p><%= post.content %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Nueva Publicación", new_post_path %>